doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.17.0/angular-translate.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.17.0/angular-translate-loader-static-files.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-cookies.js")

    script(src="javascripts/ng-file-upload-shim.min.js")
    script(src="javascripts/ng-file-upload.min.js")
    script(src="javascripts/angular-swing.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js")

    script.
        function checkMediaType(mime) {
            switch (true) {
                case (mime.indexOf('image') > -1):

                    return 'image';

                    break;
                case (mime.indexOf('video') > -1):

                    return 'video';

                    break;
            }

            return false;
        }

        var app = angular.module("app", ['gajus.swing',"ngRoute","pascalprecht.translate",'ngCookies','ngFileUpload']);
        app.config(function ($routeProvider) {
            $routeProvider
                .when("/", {
                    templateUrl: "views/main-login.html",
                    controller: "login-controller"
                })

        });
        app.config(['$translateProvider', function ($translateProvider, $translatePartialLoaderProvider) {
            $translateProvider.useStaticFilesLoader({
                files: [
                    {
                        prefix: '/locales/',
                        suffix: '.json'
                    }]
            });
            $translateProvider.preferredLanguage('es');
        }]);

        app.config(function ($routeProvider) {
            $routeProvider
                .when("/", {
                    templateUrl: "views/main.html",
                    controller:"main-controller"
                })
                .when("/adopt", {
                     templateUrl: "views/adopt.html"
                 })
                .when("/give-adoption", {
                    templateUrl: "views/give-adoption.html",
                    controller:"give-adoption-controller"
                })
                .when("/give-adoption/list", {
                    templateUrl: "views/give-adoption-list.html",
                    controller: "give-adoption-list-controller"
                })


        });
        app.controller('main-controller', function ($rootScope,$cookies) {

            vm = $rootScope;


            $rootScope.headers = {'Authorization':'JWT '+$cookies.get("access_token")};

            $rootScope.petTypes = [];

            axios.get("api/pet-type",{"headers":$rootScope.headers}).then(function (response) {
                $rootScope.petTypes = response.data.docs;
                $rootScope.$apply();

            }).catch(function (e) {

                //TODO: handle ajax errors
                console.log(e);

            });

        });

    script(src="javascripts/directives/media-preview.js")

    script(src="javascripts/directives/pet-list.js")

    script(src="javascripts/controllers/GiveAdoptionController.js")

    script(src="javascripts/controllers/GiveAdoptionListController.js")

  body(data-ng-app="app" data-ng-controller="main-controller")

    header
        nav


    main
      block content
